body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    background: whitesmoke;
    overflow: hidden!important;
}

@media screen and (min-width: 1000px) {
  .main_content {
    margin: 0 auto;
    max-width: 800px;
  }
  .main_content.is-fluid {
    margin: 0 20px;
    max-width: none;
  }
}
@media screen and (max-width: 768px) {
  .MathJax_Display {
	font-size: 0.8em;;
  }
}
@media screen and (min-width: 1192px) {
  .main-content {
    max-width: 900px;
  }
}
.main-section {
    min-height: calc(100vh - 20rem);
}
.top-nav {
    height: 6rem;
}
.nav-title {
	font-size: 2em;
}
.nav-tab {
	font-size: 1.5em;
}
.nav-toggle {
    height: 4rem;
    width: 4rem;
    margin: 1rem;
}
.footer a {
    margin: 0.2em;
}
footer {
    height: 14rem;
}
.tooltip .tooltiptext {
    margin-top: 0.5em;
    visibility: hidden;
    background-color: #7a7a7a;
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: -0.5em;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;

	/* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.5s;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 0.95;
}

/* IPyhon related style */
.prompt {
	display: none!important;
}
.import-area {
	padding:0!important;
}
.output_subarea {
	max-width: none!important;
}
.output_png>img,video {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.input {
	border: 0!important;
	display: table!important;
	padding:0!important;
}
/*
.nav { 
	position: fixed !important;
	top: 0;
	left: 0;
	right: 0; 
}
*/
.posts {
    margin: 3em 0;
}
.tag {
    margin: 0.2em;
    font-size: 1rem;
}
.inner_cell {
	max-width: 100%;
}
.input_area {
	max-width: calc(100vw - 4rem);
}
