body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    overflow: hidden!important;
}
@media screen and (max-width: 768px) {
	table {
		display: block;
		overflow-x: auto;
	}
}
.navbar-burger {
	padding-left: 0.4em;
}
.twitter-timeline {
	height: 100%!important;
	margin-top: 3em!important;
}
.container {
	width: 100%;
}
.title {
	font-weight: normal;
}
.nav-title {
	font-size: 2em;
}
.nav-menu {
	font-size: 1.5em;
}
.content .section {                                                                                                                                                                                         
	    padding: 0; /* prevent each new subsection to be smaller (especially horrible on mobiles where the sub-sub-section becomes a tiny column */
}
.content h1 {
    padding-bottom: 0.5em;
    padding-top: 0.4em;
    font-size: 2.5rem;
    overflow-wrap: break-word;
}
.content h2 {
    padding-top: 1.75em;
    overflow-wrap: break-word;
}                                                                                                                                                                                                           
.content h3 {
    padding-top: 1.5em;
    overflow-wrap: break-word;
}
.content h4 {
    padding-top: 1.25em;
    overflow-wrap: break-word;
}
.content h5 {
    padding-top: 1em;
    overflow-wrap: break-word;
}
@media screen and (min-width: 1000px) {
  .main_content {
    margin: 0 auto;
    max-width: 800px;
  }
  .main_content.is-fluid {
    margin: 0 20px;
    max-width: none;
  }
}
@media screen and (max-width: 768px) {
    div.math {
		font-size: 0.8em;
  	}
}
div.math {
	overflow: scroll;
}
@media screen and (min-width: 1192px) {
  .main-content {
    max-width: 900px;
  }
}
.main-section {
    min-height: calc(100vh - 20rem);
}
.footer a {
    margin: 0.2em;
}
footer {
    height: 14rem;
}
.tooltip .tooltiptext {
    margin-top: 0.5em;
    visibility: hidden;
    background-color: #7a7a7a;
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: -0.5em;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;

	/* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.5s;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 0.95;
}

/* IPyhon related style */
.prompt {
	display: none!important;
}
.import-area {
	padding:0!important;
}
.output_subarea {
	max-width: none!important;
}
.output_png>img,video {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.input {
	font-size: inherit;
	border: 0!important;
	display: table!important;
	padding:0!important;
}
.posts {
    margin: 3em 0;
}
.tag {
    margin: 0.2em;
    font-size: 1rem;
}
.inner_cell {
	max-width: 100%;
}
.input_area {
	max-width: calc(100vw - 4rem);
}

/* rst code related */
.literal-block {
	margin-bottom: 1.5em;
}

img.align-center { margin:auto; display:block; }
